Title: Data Science Ecosystem

Introduction: I studying Msc in Data Science, doing professional work on data analysis.Always keen to learn new things.

Data Science Languages:

    1.Python
    2.R
    3.SQL
    4.Java
    5.Julia
    6.Scala

Data Science Libraries:
    1.TensorFlow
    2.NumPy
    3.SciPy 
    4.Pandas
    5.Matplotlib 
    6.Keras
    7.SciKit-Learn
    8.PyTorch
    9.Caffe2

Data science Tools:
        1.MySQL
        2.PostgreSQL
        3.MongoDB
        4.Apache Cassandra
        5.Apache Spark
        6.Apache Hadoop
        7.Apache Airflow
        8.Apache Kafka
        9.Power BI
        10.Tableau
        11.Github

In [ ]:
#Arithmetic expression examples

a = 40
b = 12
  
add = a + b
sub = a - b
pro = a * b
div = a / b
  
print(add)
print(sub)
print(pro)
print(div)

In [ ]:
a=5
b=6

add = a+b
mul = a*b

print(add)
print(mul)

In [ ]:
minutes = 3400

count_hours = minutes/60

print(count_hours)

Objectives:
1.Master Data Analysis: Develop strong data analysis skills to be able to extract insights and make data-driven decisions.

2.Familiarize yourself with key data science tools such as Python, R, Jupyter Notebooks, and libraries like pandas and numpy.

3.Learn how to create compelling data visualizations using tools like Matplotlib, Seaborn, or Plotly.

4.Gain a solid understanding of fundamental statistical concepts and techniques commonly used in data science.

5.Get an introduction to machine learning techniques and frameworks like scikit-learn or TensorFlow.

6.Learn how to clean, preprocess, and manipulate data efficiently using tools like pandas.

7.Explore tools for handling and analyzing large datasets, such as Hadoop and Spark.

8.Understand how to work with databases and query languages like SQL for data retrieval and storage.

9.Learn how to use version control systems like Git to manage your data science projects effectively.

Author List:
    1.Lakshmi Holla
    2.Niveditha Pandith

Other Contributors:
    1.Rav Ahuja
    2.Malika Singla